body {
  margin: 0;
  padding: 0;
  background-color: #f3f2ef;
}

.wrapper {
  display: flex;
}

.sidepanel {
  width: 200px;
  background-color: #fafafa;
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  border-right: 1px solid #ddd;
}

.content-wrapper {
  width: calc(100vw - 100px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
